/target/
node_modules/
src/python-mxfuse/.venv/
*.node
*.so
*.pyc
dist/
src/mxfuse-sys/generated/
src/mxfuse-sys/LICENSE
src/mxfuse-sys/THIRD_PARTY_NOTICES.md
src/rust-mxfuse/LICENSE
src/rust-mxfuse/THIRD_PARTY_NOTICES.md
src/python-mxfuse/LICENSE
src/python-mxfuse/THIRD_PARTY_NOTICES.md
src/node-mxfuse/LICENSE
src/node-mxfuse/THIRD_PARTY_NOTICES.md
src/node-mxfuse/README.md
.data/
.DS_Store
